<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.philwilson.huffduffer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_huffduffer"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="org.philwilson.huffduffer.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >

            <!--
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!-- <activity -->
        <!-- android:name="org.philwilson.huffduffer.SendToHuffdufferActivity" -->
        <!-- android:label="@string/send_to_huffduffer" -->
        <!-- android:parentActivityName="org.philwilson.huffduffer.MainActivity"> -->
        <!-- <meta-data android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="org.philwilson.huffduffer.MainActivity" /> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEND" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->


        <!-- <data android:mimeType="text/plain" /> -->
        <!-- <data android:mimeType="text/html" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="org.philwilson.huffduffer.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.philwilson.huffduffer.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.philwilson.huffduffer.ItemListActivity" />
        </activity>
        <activity
            android:name="org.philwilson.huffduffer.ItemListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.philwilson.huffduffer.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
    </application>

</manifest>